@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');


/* -----Reset----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

/* -----Common----- */
body{
    width: 100%;
    min-height: 100vh;
    background-color:  #6ceea2;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease-in;
}

li{
    list-style: none;
}

p{
    font-size: 1rem;
    margin-bottom: 3px;
}

#menu-show{
    display: none;
}

/* -----Image----- */
.image{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translateY(-50%);
    width: 600px;
    height: 500px;
    background: url(./imgs/back.svg);
    background-size: cover;
    background-position: center;
}

/* -----Container----- */
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

/* ---Header--- */
.container header{
    width: 100%;
    height: 100px;
    line-height: 100px;
    padding: 0 50px;
    background-color: #6ceea2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Logo */
.container header h2{
    flex-basis: 25%;
    font-size: 2rem;
    cursor: pointer;
}

.container header h2 span{
    background-color: #fff;
    padding: 6px 10px;
    transition: all 0.3s ease-in;
    border-radius: 5px;
}

.container header h2:hover > span{
    background-color: #000;
    color: #fff;
}

/* Nav Menu */
.container header .menu{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container header .menu li{
    margin-left: 50px;
}

.container header .menu li a{
    padding: 8px 15px;
}

.container header .menu li a:hover{
    background-color: #fff;
    border-radius: 5px;
}

/* Mobile Menu Button */
label{
    position: absolute;
    left: 85%;
    cursor: pointer;
    z-index: 102;
    display: none;
}

label i{
    font-size: 1.5rem;
}

/* ---Hero--- */
.container .content{
    margin: 0 auto;
    width: 65%;
    height: 75vh;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 100px;
}

/* Text */
.container .content .text{
    width: 500px;
    text-align: left;
}

.container .content .text h2{
    font-size: 4rem;
    font-weight: 600;
}

.container .content .text a{
    margin-top: 10px;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 35px;
    font-size: 1.2rem;
}

.container .content .text a:hover{
    background-color: #000;
    color: #fff;
}

/* -----Footer----- */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #6ceea2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

footer .social a{
    margin: 0 10px;
}

footer .social a i{
    font-size: 1.3rem;
    transition: all 0.3s ease-in;
}

footer .social a i:hover{
    color: #fff;
}

/* -----Responsive----- */
@media(max-width: 1120px){
    /* Container Header */
    .container header{
        flex-direction: column;
        line-height: 70px;
    }

    .container header h2{
        background-color: #6ceea2;
    }

    .container header .menu{
        position: absolute;
        width: 100%;
        top: 100px;
        background-color: #6ceea2;
        justify-content: center;
        flex-direction: column;
        z-index: 101;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in;
    }
    
    .container header .menu li{
        margin-left: 0;
    }

    .container header label:nth-child(2){
        display: block;
    }

    /* Menu Toggle */
    #menu-show:checked ~ .menu{
        visibility: visible;
        opacity: 1;
    }

    #menu-show:checked ~ label:nth-child(2){
        display: none;
    }

    #menu-show:checked ~ label:nth-child(3){
        display: block;
    }
}

@media(max-width: 700px){
    /* Common */
    p{
        font-size: 0.8rem;
    }

    /* Image */
    .image{
        left: 0;
        width: 750px;
    }

    /* Container Hero */
    .container header h2{
        font-size: 1.4rem;
    }

    .container .content{
        width: 90%;
    }

    .container .content .text h2{
        font-size: 2.7rem;
    }

    .container .content .text a{
        font-size: 1rem;
    }

    /* Footer */
    footer{
        flex-direction: column;
        text-align: center;
    }
}
